
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=GFS+Didot&family=Handlee&family=Jacquard+12&family=Lexend:wght@500&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CA+Guides&display=swap');

    
        body {
            margin: 0;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            background-color: #E9D4ED;
            
        }

        #navbar {
            position: sticky;
            top: 0;
            background-color:#7C9858;
            padding: 10px 0;
            display: flex;
            justify-content: center;
            gap: 20px;
            z-index: 1000;
            
        }

        #navbar a {
            color:#7C9858
            text-decoration: none;
            padding: 10px 20px;
        }
        

            
        #navbar a:hover {
            background-color:#7C9858;
            border-radius: 5px;
        }

        .content {
            height: 2000px; /* Para mostrar el efecto sticky */
            padding: 20px;
        
            background-color:#E9D4ED;
        }
       
        h1{

            color:#7C9858; /*es para elegir el color de la fuente*/
            font-size: 90px; /*tama単o de la fuente */
            font-family: "Jacquard 12", serif;
            text-align: center;

        }
         
        h6{
            color:rgb(157, 21, 96); /*es para elegir el color de la fuente*/
            font-size: 30px; /*tama単o de la fuente */
            font-family: "Handlee", serif;
        }

        #imguno{
            width: 500px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: 17px inset #7c9858;

        }

        #imgdos{
            width: 500px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: 17px inset #7c9858;
        }

        p{
            font-family: "Playfair Display", serif;
            text-align: center;
            color:#7C9858;
            font-size: large;
            
              }

        iframe{
            width: 1000px;
            height: auto;
            margin: auto;
            text-align: center;
        }
    h6{
        text-align: center;
        color: #632D6E;
        background: #632d6e;
background: linear-gradient(1deg,#632d6e 0%, #e9d4ed 80%);
background: -webkit-linear-gradient(1deg,#632d6e 0%, #e9d4ed 80%);
background: -moz-linear-gradient(1deg,#632d6e 0%, #e9d4ed 80%);
        
    }

    ul{
        text-align: center;
        color: #632D6E;
        font-size: medium;
        font-family: "Cedarville Cursive", serif;
    }
    a{
        text-align: center;
        color:#632D6E

    }

    ol{
        text-align: center;
        color: #632D6E;
        font-size: medium;
        font-family: "Cedarville Cursive", serif;

    }

    #abajo{
        width: 350px;
        height: 350px;
        background-color: #E9D4ED;
    
    }
    
    section{
        height: 300px;
        width: 300px;
        text-align: center;
        font-family: "Handlee", serif;
        margin: auto;
    }

    article{
        text-align: center;
        margin: 50px;
        
    }

    .bro{
        width: 500px;
        height: 500px;
        background-color: #632D6E;
        margin: 50px;
        float: left; 
        box-shadow: 26px 27px 18px 0px rgba(99,45,110,0.76);
-webkit-box-shadow: 26px 27px 18px 0px rgba(99,45,110,0.76);
-moz-box-shadow: 26px 27px 18px 0px rgba(99,45,110,0.76);
        
    }

    #cat1{
            width: 100px;
            height: auto;
            display: block;
           margin: auto;
           margin-top: 200px;
           border: 17px inset #7c9858;
        }

    #redes{
        margin: 50px;

    }

    .heather1{
        background-color: #7C9858;
    }

#icon{
    color: #632D6E;
}
.mover{
    background-color: lightblue;
    padding: 10px;
}
.boton{
    background-color:greenyellow;
    color: white;
    padding: 10px;
    transition: background-color 0.3s;
    display: block;s
}

.boton:hover {
    background-color: #632D6E; */cambia el color al pasar el mouse*/
}

.caja{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: coral;
    margin: 10px;
}

#slideshow {
    text-align: center;
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin-bottom: 400px;
  }
   
  .slide-wrapper {
    width: 2912px;
    animation: slide 18s ease infinite;
  }
   
  .slide {
    float: left;
    height: 510px;
    width: 728px;
  }
   
  .slide:nth-child(1) { /*Elementos de una etiqueta dentro*/
    background-color: rgb(216, 41, 243);
  }
   
  .slide:nth-child(2) {
    background-color: coral;
  }
   
  .slide:nth-child(3) {
    background-color: greenyellow;
  }
   
  .slide:nth-child(4) {
    background-color: brown;
  }
   
  @keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    70% {margin-left: -1456px;}
    80% {margin-left: -2184px;}
    90% {margin-left: -2184px;}
  }


footer {
            position: relative;
            width: 100%;
            height: 500px;
            overflow: hidden;
        }

        .fondo-gif {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('https://i.giphy.com/media/xT0xeJpnrWC4XWblEk/giphy.gif') center/cover no-repeat;
            z-index: 1;
        }

        .contenido-footer {
            position: relative;
            z-index: 2;
            color: white;
            text-align: center;
            padding: 20px;
            font-size: 300px;
            background: rgba(0, 0, 0, 0.6); /* Capa semitransparente para legibilidad */
        }

.anim{
    width: 200px;
    height: 200px;
    background-color: #632d6e;
    animation: mover 5s infinite; /*nombre de la animacion, cuanto dura la animacion tiempo, cuantas vecees quieres que lo haga*/

}       

.animdos{
    width: 200px;
    height: 200px;
    background-color: #632d6e;
    animation: rotar 5s infinite; /*nombre de la animacion, cuanto dura la animacion tiempo, cuantas vecees quieres que lo haga*/

}  

.animtres{
    width: 200px;
    height: 200px;
    background-color: #632d6e;
    animation: escala 5s infinite; /*nombre de la animacion, cuanto dura la animacion tiempo, cuantas vecees quieres que lo haga*/

} 

@keyframes mover {
    0% {
        transform: translateX(0);
    }
 
    50% {
        transform: translateX(50px);
    }
 
    100% {
        transform: translateX(0);
    }
}    

@keyframes rotar {
    form{
        transform: rotate(0deg);
    
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes escala{
    0%{
        transform: scale(1);/*Tama単o orgiginal*/
    }
    50%{
        transform: scale(3);/*Tama単o grande*/
    }
    100%{
        transform: scale(1); /*tamano origina again*/
    }

}
   

